table {
	border: 1px solid black; 
	border-spacing: 0;
	margin: 0 auto;
}
input, button {
	font-size: 1em;
}
.symbol, .symbolLogo {
	width: 1.9em;
	height: 1.25em;
	font-size: 4em;
	text-align: center;
	padding: 0px 10px 0px 10px;
	border: 1px solid black;
	border-bottom: 0;
	border-top: 0;
}
.name, .nameLogo {
	font-size: 1em;
	height: 1em;
	text-align: center;
	padding-top: 0px;
	border: 1px solid black;
	border-top: 0;
	vertical-align: bottom;
}
.number, .numberLogo {
	font-size: 1em;
	height: 0.5em;
	text-align: right;
	padding-right: 0.2em;
	padding-bottom: 0;
	border: 1px solid black;
	border-bottom: 0;
}
.table {
	font-size: 1em;
	padding-top: 0.625em;
}
#wrapper {
	margin: auto;
	text-align: center;
	font-family: "vera-sans",sans-serif;
}
sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
body {
	font-size:100%;
	font-size: 1.75vw;
}
.symbolLogo, .nameLogo, .numberLogo {
	font-weight: 600;
}
#logoTable {
	font-size: 0.4em;
	display: inline-block;
}
#logoText {
	padding-left: 0.1em;
	letter-spacing: 0.1em;
	display: inline-block;
	position: relative;
	bottom: 0.5em;
	font-size: 1.5em;
}
#logo {
	height: 5em
}
input, button, footer {
	font-family: inherit;
}
#TM {
	vertical-align: top;
	position: relative;
	top: 1.9em;
}
footer {
	text-align: center;
	font-size: 0.5em;
	vertical-align: bottom;
	padding-top: 1em;
}
