#rainbow {
	background-image: url("images/rainbow-tunnel.gif");
	background-size: 200vw;
	background-position: center -5vw;
}
table {
	border: 0.0625vw solid black; 
	border-spacing: 0;
	margin: 0 auto;
}
input, button {
	font-size: 2em;
}
.symbol, .symbolLogo {
	width: 1.9em;
	height: 1.7em;
	font-size: 4em;
	text-align: center;
	padding: 0px 10px 0px 10px;
	border: 0.0625vw solid black; 
	border-bottom: 0;
	border-top: 0;
}
.symbolLogo {
	width: 2em;
	height: 2.2em;
	font-size: 4.25em;
}
.name, .nameLogo {
	font-size: 1em;
	height: 1em;
	text-align: center;
	padding-top: 1px;
	border: 0.0625vw solid black; 
	border-top: 0;
	vertical-align: bottom;
}
.number, .numberLogo {
	font-size: 1em;
	height: 1em;
	text-align: right;
	padding-right: 0.2em;
	padding-bottom: 0;
	border: 0.0625vw solid black; 
	border-bottom: 0;
}
.numberLogo {
	padding-right: 0.4em;
}
.number {
	height: 1.25em;
}
.table {
	font-size: 1em;
	padding-top: 0.625em;
}
#wrapper {
	margin: auto;
	text-align: center;
	font-family: "vera-sans",sans-serif;
}
sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
body {
	font-size:100%;
	font-size: 1.75vw;
}
.symbolLogo, .nameLogo, .numberLogo {
	font-weight: 600;
}
#logoText p { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#logoTable {
	font-size: 0.4em;
	display: inline-block;
}
#logoText {
	padding-left: 0.1em;
	letter-spacing: 0.1em;
	display: inline-block;
	position: relative;
	bottom: 1.1em;
	font-size: 1.5em;
}
#logo {
	height: 5em;
}
input, button, footer {
	font-family: inherit;
}
#TM {
	vertical-align: top;
	position: relative;
	top: 1.9em;
}
footer {
	text-align: center;
	font-size: 0.5em;
	vertical-align: bottom;
	padding-top: 1em;
	font-family: "vera-sans",sans-serif;
}
#description {
	font-weight: 100;
	font-size: 1em;
	padding-top: 0.5em;
}
#top {
	font-size: 1.3em;
}
#video {
	position: relative;
	right: 22.222%;
}
@media only screen and (orientation: landscape) {
	#rainbow {
		background-image: url("images/rainbow-tunnel.gif");
		background-size: 100%;
	}
}
@media only screen and (min-width: 410px) {
	#description {
		padding-top: 0em;
	}
	.numberLogo {
		padding-right: 0.2em;
	}
	.symbol {
		height: 1.5em;
	}
	.symbolLogo {
		height: 1.7em;
	}
	#top {
		font-size: 1.5em;
	}
	input, button {
		font-size: 1.5em
	}
	#logoText {
		position: relative;
		bottom: 0.7em;
	}
}
@media only screen and (min-width: 768px) {
	.symbol {
		height: 1.4em;
	}
	.symbolLogo {
		height: 1.5em;
	}
	#top {
		font-size: 1em;
	}
	input, button {
		font-size: 1em;
	}
	#logoText {
		position: relative;
		bottom: 0.5em;
	}
}
