.reversed {
	transform: scale(-1, 1);
}
#defaultWord {
	font-size: 1em;
	margin-bottom: 0.5em;
}
#long {
	margin-bottom: 1em;
}
#optionsDrop {
	padding-top: 0.5em;
}
#options {
	height: 30em;
	width: 40em;
	border: 0.09em solid black;
	margin: 0 auto;
	text-align: left;
	padding-left: 1em;
	font-size: 1.2em;
}
#infocont {
	width: 30em;
	font-size: 1.5em;
	border: 0.09em solid black;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
	font-family: "vera-sans";
}
#applyButton {
	position: relative;
	bottom: -0.3em;
	margin: auto;
	font-size: 2em;
}
#links a, .links a {
	color: black;
	border: 0.09em solid black;
	text-decoration: none;
	padding: 0.1em 0.3em 0.1em 0.3em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	font-family: "vera-sans", sans-serif;
}
#applyDiv {
	width: 100%;
	text-align: center;
	margin: auto;
}
input[type=radio], input[type=checkbox] {
	height: 0.6em;
	width: 0.6em;
}
.links {
	display: inline-block;
	padding-left: 0.3em;
}
#links{
	font-size: 1.5em;
	text-align: center;
	padding-top: 1em;
}
#inputDescription {
	display: inline;
}
#rainbow {
	background-image: url("images/rainbow-tunnel.gif");
	background-size: 200vw;
	background-position: center -5vw;
}
#trump {
	background-image: url("images/trump.gif");
	background-size: cover;
	background-position: center;
}
#length {
	padding-bottom: 1em;
	padding-left: 0.5em;
	margin-top: -0.75em;
}
table {
	border-spacing: 0;
	margin: 0 auto;
}
#optLink {
	font-size: 1.5em;
	position: relative;
	bottom: 0.0em;
}
input, button {
	font-size: 2em;
}
.symbol, .symbolLogo {
	width: 1.9em;
	height: 1.7em;
	font-size: 4em;
	text-align: center;
	padding: 0px 10px 0px 10px;
	border: 0.0625vw solid black;
	border-bottom: 0;
	border-top: 0;
}
.symbolLogo {
	width: 2em;
	height: 2.2em;
	font-size: 4.25em;
}
.name, .nameLogo {
	font-size: 1em;
	height: 1em;
	text-align: center;
	padding-top: 1px;
	border: 0.0625vw solid black;
	border-top: 0;
	vertical-align: bottom;
}
.number, .numberLogo {
	font-size: 1em;
	height: 1em;
	text-align: right;
	padding-right: 0.2em;
	padding-bottom: 0;
	border: 0.0625vw solid black;
	border-bottom: 0;
}
.numberLogo {
	padding-right: 0.4em;
}
.number {
	height: 1.25em;
}
.table {
	font-size: 1em;
	padding-top: 0.625em;
}
#wrapper {
	margin: auto;
	text-align: center;
	font-family: "vera-sans",sans-serif;
}
sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
body {
	font-size:100%;
	font-size: 1.75vw;
}
.symbolLogo, .nameLogo, .numberLogo {
	font-weight: 600;
}
.logoLink {
	color: inherit;
	text-decoration: none;
}
#logoText p {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#logoTable {
	font-size: 0.4em;
	display: inline-block;
}
#logoText {
	padding-left: 0.1em;
	letter-spacing: 0.1em;
	display: inline-block;
	position: relative;
	bottom: 1.1em;
	font-size: 1.5em;
}
#logo {
	height: 5em;
}
input, button, footer {
	font-family: inherit;
}
#TM {
	vertical-align: top;
	position: relative;
	top: 1.9em;
}
footer {
	text-align: center;
	font-size: 0.5em;
	vertical-align: bottom;
	font-family: "vera-sans",sans-serif;
}
#description {
	font-weight: 100;
	font-size: 1em;
	padding-top: 0.5em;
}
#top {
	font-size: 1.3em;
}
#video {
	position: relative;
	right: 22.222%;
}
.colorSelect {
	font-size: 1em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
table a {
	text-decoration: inherit;
	color: inherit;
}
@media only screen and (orientation: landscape) {
	#rainbow {
		background-image: url("images/rainbow-tunnel.gif");
		background-size: 100%;
	}
}
@media only screen and (min-width: 410px) {
	#description {
		padding-top: 0em;
	}
	.numberLogo {
		padding-right: 0.2em;
	}
	.symbol {
		height: 1.5em;
	}
	.symbolLogo {
		height: 1.7em;
	}
	#top {
		font-size: 1.5em;
	}
	input, button, #optLink {
		font-size: 1.5em
	}
	#logoText {
		position: relative;
		bottom: 0.7em;
	}
}
@media only screen and (min-width: 875px) {
	#infocont {
		font-size: 1em;
		width: 30em;
		border: 0.09em solid black;
		margin: 0 auto;
		text-align: center;
		padding: 1em;
		font-family: "vera-sans";
	}
	#options {
		font-size: 0.9em;
		height: 23.5em;
		width: 35em;
		border: 0.09em solid black;
		margin: 0 auto;
		text-align: left;
		padding-left: 1em;
	}
	.symbol {
		height: 1.4em;
	}
	.symbolLogo {
		height: 1.5em;
	}
	#top {
		font-size: 1em;
	}
	input, button, #optLink {
		font-size: 1em;
	}
	#logoText {
		position: relative;
		bottom: 0.5em;
	}
	#download {
		position: relative;
		top: -1em;
		font-size: 0.8em;
	}
	#links {
		font-size: 0.7em;
		text-align: center;
		padding-top: 1em;
	}
	body {
		font-size: 1.7em;
	}
}
a {
	font-family: inherit;
}
#download {
	position: relative;
	top: -1em;
	font-size: 0.7em;
}
