table {
	border: 1px solid black; 
	border-spacing: 0;
}
.symbol {
	width: 100px;
	height: 80px;
	font-size: 400%;
	text-align: center;
	padding: 0px 10px 0px 10px;
	border: 1px solid black;
	border-bottom: 0;
	border-top: 0;
}
.name {
	height: 10px;
	text-align: center;
	padding-top: 0px;
	border: 1px solid black;
	border-top: 0;
}
.number {
	height: 10px;
	text-align: right;
	padding-bottom: 0;
	border: 1px solid black;
	border-bottom: 0;
}
#table {
	padding-top: 10px;
}
sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
